.container{
    width:70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid green;
    margin: 9% 15%;
}

h1{
    font-size: 6em;
    color: green;
    margin: 0;
}

a:link, a:visited{
    background-color:white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom:10px;
    font-size: 35px;

}

a:hover, a:active{
    background-color: green;
    color: white;
}